@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.nits {
  /* Intro */
}
.nits h1, .nits h6, .nits label {
  font-family: "Montserrat", sans-serif;
}
.nits p, .nits .btn, .nits input, .nits textarea {
  font-family: "Open Sans", sans-serif;
}
.nits h1,
.nits h6 {
  font-weight: 700;
}
.nits .swiper-custom-button-next,
.nits .swiper-custom-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.nits .sec {
  padding-top: 100px;
  padding-bottom: 100px;
}
.nits .swiper-pagination {
  height: 48px;
  align-items: center;
  display: flex;
  top: 0 !important;
}
.nits .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
}
.nits .intro {
  background-color: #d87550;
  color: white;
}
.nits .intro .row {
  gap: 150px;
}
.nits .intro .stats {
  border: 1px solid white;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 420px;
}
.nits .intro .stats h1 {
  font-size: 48px;
}
.nits .intro .stats p {
  font-size: 24px;
}
.nits .intro .stats h1,
.nits .intro .stats p {
  margin: 0;
}
.nits .intro p {
  font-size: 20px;
}
.nits .intro ol {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
.nits .intro ol li {
  counter-increment: item;
  margin-bottom: 5px;
  margin-left: 58px;
}
.nits .intro ol li:before {
  margin-left: -58px;
  content: counter(item, upper-roman);
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-size: 24px;
}
.nits .linhas-pesquisa {
  background-color: #471290;
  color: white;
}
.nits .linhas-pesquisa h6,
.nits .linhas-pesquisa p {
  font-size: 20px;
}
.nits .linhas-pesquisa .swiper-custom-button-next,
.nits .linhas-pesquisa .swiper-custom-button-prev {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.nits .linhas-pesquisa .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.nits .nossas-solucoes {
  background-color: #ebf1f5;
}
.nits .nossas-solucoes img {
  height: 100px;
}
.nits .nossas-solucoes .card {
  padding: 40px;
  margin-bottom: 24px;
}
.nits .nossas-solucoes h1 {
  color: #035c8c;
}
.nits .nossas-solucoes button {
  border: 1px solid #035c8c;
  color: #035c8c;
  font-weight: 600;
}
.nits .nossas-solucoes p {
  width: 50%;
  color: #8c8c8c;
}
.nits .nossas-solucoes .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}
.nits .nossas-solucoes p,
.nits .nossas-solucoes .btn {
  font-size: 20px;
}
.nits .nossas-solucoes .btn {
  align-self: center;
}
.nits .suas-solucoes {
  background-image: url("imgs/Capa-3.jpg");
  background-position: 60vw 50%;
  background-repeat: no-repeat;
  background-color: #035c8c;
  color: white;
}
.nits .suas-solucoes .texto {
  width: 50%;
}
.nits .suas-solucoes h1 {
  margin-bottom: 1em;
}
.nits .suas-solucoes p,
.nits .suas-solucoes .btn {
  font-size: 20px;
}
.nits .suas-solucoes .btns {
  margin-top: 5em;
  width: 50%;
}
.nits .suas-solucoes button {
  border: 1px solid white;
  color: white;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}
.nits .contato {
  background-color: #31aabc;
  color: white;
}
.nits .contato p,
.nits .contato label {
  font-size: 20px;
}
.nits .contato input {
  margin-bottom: 1em;
}
.nits .contato textarea {
  resize: none;
}
.nits .contato .btn {
  color: white;
  border: 1px solid white;
}
.nits .header-swiper {
  height: 720px;
}
.nits .header-swiper .swiper-buttons {
  margin-top: -148px;
}
.nits .header-swiper .swiper-buttons .swiper-custom-button-next,
.nits .header-swiper .swiper-buttons .swiper-custom-button-prev {
  background-color: rgba(255, 255, 255, 0.2509803922);
  z-index: 10;
}
.nits .header-swiper .swiper-buttons .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.nits .header-swiper .swiper-slide {
  padding-top: 192px;
  padding-bottom: 192px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.nits .header-swiper .swiper-slide h1 {
  margin-bottom: 48px;
}
.nits .header-swiper .swiper-slide .btn {
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}
.nits .header-swiper .swiper-slide .filter {
  background-color: rgba(3, 92, 140, 0.66);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.nits .header-swiper .swiper-slide:first-child {
  background-image: url("imgs/header-bg1.png");
}
.nits .header-swiper .swiper-slide:nth-child(2) {
  background-image: url("imgs/header-bg2.png");
}
.nits .header-swiper .swiper-slide:nth-child(3) {
  background-image: url("imgs/header-bg3.png");
}
.nits .swiper-pagination-bullet-active {
  background-color: white !important;
}
.nits p {
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .nits .nossas-solucoes p {
    width: 100%;
  }
  .nits .sec {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .nits .suas-solucoes {
    background-image: none;
  }
  .nits .suas-solucoes .texto,
  .nits .suas-solucoes .btns {
    width: 100%;
  }
  .nits .intro .stats {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
